*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 2000px;
}


body{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 100%;
}

header{
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.barraSuperior{
    display: flex;
    border: 1px solid black;
    padding: 5px;
    display: flex;    
}

#barraSuperior{
    height: 100px;
}

#logo{
    border: 1px solid black;
    margin-right: auto;
}


#menu{
    margin-right: auto;
    display: flex;
    list-style-type: none;
    margin-top: 20px;
}

#menu li{
    border: 1px solid black;
    padding: 8px;
    
}

.conteudo{
    display: flex;
    border: 1px solid black;    
    padding: 5px;
    background-color: aqua;
    height: 100%;
}

.main{
    border: 1px solid black;
    width: 100%;
    background-color: aliceblue;
    margin-top: 100px;
    
}

#barraLateral{
    max-width: 150px;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    margin-top: 100px;
}


#nome{
    margin-left: 150px;
    height: 100vh;
    
}

#animacao{
    height: 100vh;
    width: auto;
}

#logo{
    color: red;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.container{
    border: 1px solid black;
    display: flex;
}

.circle {
    border: 1px solid black;
    background-color: rgb(35, 5, 141);
    height: 12px;
    width: 12px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.circle.grow{
    transform: scale(2);
}


